<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.labsmobile.example">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CredentialActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SMSActivity"
            android:label="@string/title_activity_sms"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.labsmobile.example.MainActivity" />
        </activity>
        <activity
            android:name=".QueriesActivity"
            android:label="@string/title_activity_queries"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TwoFactorVerificationIndexActivity"
            android:label="@string/title_activity_otp"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.labsmobile.example.MainActivity" />
        </activity>
        <activity
            android:name=".TwoFactorVerificationCheckActivity"
            android:label="@string/title_activity_two_factor_verification_check"
            android:parentActivityName=".TwoFactorVerificationIndexActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TwoFactorVerificationRequestActivity"
            android:label="@string/title_activity_two_factor_verification_request"
            android:parentActivityName=".TwoFactorVerificationIndexActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TwoFactorVerificationCodeActivity"
            android:label="@string/title_activity_two_step_verification_code"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TwoFactorVerificationResultActivity"
            android:label="@string/title_activity_two_factor_verification_result"
            android:parentActivityName=".TwoFactorVerificationIndexActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.labsmobile.example.TwoFactorVerificationIndexActivity" />
        </activity>
    </application>

</manifest>
